* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    width: auto;
    height: auto;
}

#flowers {
    width: 600px;
    height: auto;
}

#sign-up-container {
    flex-direction: column;
}

header {
    display: flex;
    justify-items: center;
    align-items: center;
    width: auto;
    height: 250px;
    background-color: lightgray;
}

.header-text {
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    margin-left: 25px;
    margin-right: 40px;
}
